<%if @movies == nil %>
    <%='No movies found'%>  
<%elsif not @movies.any? %>  
    <%='No movies found'%>
<%else%>
    <table>
    <% @movies.each do |movie| %>
        <tr>
        <%@lien="/show/"
        @lien+=movie.id.to_s%>
            <td>
            <%= if movie.affiche.to_s
                link_to image_tag(movie.affiche.to_s), @lien 
                else
                link_to image_tag("http://www.atmos.washington.edu/~carey/images/notFound.png", :width =>154, :Height=>212), @lien 
                end%>
            </td>
            <td>
                <%=movie.nom%>
            </td>
             <td>
                 <% if not @favorit.include? movie.id%> 
                    <%=form_tag :controller => 'movies', :action => 'add_to_fav' do%>
                        <%=hidden_field_tag :movid, movie.id%>
                        <%=submit_tag "Add"%>
                    <%end%> 
                <%else%>
                    <%='This movie is already in your favorit list'%>
                <%end%>
            </td>
            <td>
                 <% if not @seen.include? movie.id%> 
                    <%=form_tag :controller => 'movies', :action => 'add_to_seen' do%>
                        <%=hidden_field_tag :movid, movie.id%>
                        <%=submit_tag "Add"%>
                    <%end%>  
                <%else%>  
                    <%='You have already seen this movie'%>
                <%end%>
            </td>
            <td>
                <%=form_tag :controller => 'movies', :action => 'remove_from_see' do%>
                    <%=hidden_field_tag :movid, movie.id%>
                    <%=submit_tag "remove from to_see list"%>
                <%end%>
            </td>        
        </tr>
    <%end%>
    </table>
<%end%>
<%= link_to 'Back', :back %>
