<%= if not @movies.any?   
		'Nothing to see here'
	end%>
<% @movies.each do |movie| %>
<%@lien="/show/"
@lien+=movie.id.to_s%>
<li>
<%= if movie.affiche
	link_to image_tag(movie.affiche), @lien 
    else
	link_to image_tag("http://www.atmos.washington.edu/~carey/images/notFound.png", :width =>154, :Height=>212), @lien 
	end%>
<%=movie.nom%>
<%= if not @seen.include? movie.id 
    link_to 'I\'ve already seen this movie !', add_to_seen_path(movie.id.to_i), :method => 'get'
else 
    'You have already seen this movie'
end%>	
</li>
  <%=link_to 'I don\'t like this movie', delete_fav_list_path(movie.id.to_i), :method => 'get'%>
<%end%>
<%= link_to 'Back', :back %>