<%= if not @movies.any?   
		'Nothing to see here'
	end%>
<table>
<% @movies.each do |movie| %>
<tr>
<%@lien="/show/"
@lien+=movie.id.to_s%>
<li>
<td>
<%= if movie.affiche.to_s
	link_to image_tag(movie.affiche.to_s), @lien 
    else
	link_to image_tag("http://www.atmos.washington.edu/~carey/images/notFound.png", :width =>154, :Height=>212), @lien 
	end%>
</td>
<td>
<%=movie.nom%>
 <%= if not @favorit.include? movie.id 
        link_to 'I love this movie!', add_to_fav_path(movie.id.to_i), :method => 'get'
    else 
        'This movie is already in your favorit list'
    end%>	
    <%=link_to "I'm dumb, I haven't watch this movie yet", delete_seen_list_path(movie.id.to_i), :method => 'get'%>
</td>
</li>
</tr>
<%end%>
</table>
<%= link_to 'Back', :back %>
