<h1>Listing New movies</h1>
<table>
<% @topMovies.each do |movie| %>
    <%@lien="/show/"
    @lien+=movie.id.to_s%>
    <tr>
        <td>
        <%= if movie.poster_path
    	   link_to image_tag("#{@configuration.base_url}w154#{movie.poster_path}"), @lien 
        else
    	   link_to image_tag("http://www.atmos.washington.edu/~carey/images/notFound.png", :width =>154, :Height=>212), @lien 
    	end%>
        </td>
        <td>
            <%=movie.title%>
        </td>
        <td>
        Note :
            <%=movie.vote_average%>
        </td>
        <td>
            <%= if not @favorit.include? movie.id 
                link_to 'I love this movie', add_to_fav_path(movie.id.to_i), :method => 'get'
            else 
                'This movie is already in your favorit list'
            end%>
        </td>
        <td>
             <%= if not @seen.include? movie.id 
                link_to 'I\'ve already seen this movie !', add_to_seen_path(movie.id.to_i), :method => 'get'
            else 
                'You have already seen this movie'
            end%>
        </td>
        <td>
        <%= if not @to_see.include? movie.id 
            link_to 'I want to see this movie !', add_to_see_path(movie.id.to_i), :method => 'get'
            else 
                 'This movie is already in your to See list'
        end%> 
        </td>        
    </tr>
<%end%>
</table>
