<p id="notice"><%= notice %></p>
<%=@movie.original_title%>
<%=@movie.overview%>
<%@trailers.youtube.each do |table| %>
<%@lien="//www.youtube.com/embed/"
@lien+=table.source.to_s%>
<%end%>
<iframe src=<%=@lien%> width="640" height="385" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
<%= link_to 'Edit', edit_movie_path(@movie) %>|
<%= link_to 'Back', movies_path %>
<%=link_to 'add to my fav list', {controller: 'movies', action:'addToFav', id:movie.id.to_i }%>