<h1><%=@movie.title%></h1>
Date : <%=Date.parse(@movie.release_date).strftime("%d/%m/%Y")%></br>
<p>
	<%=image_tag("#{@configuration.base_url}w300#{@movie.poster_path}", size: "300x400")%></br>
	<%=@movie.overview%>
</p>
<h2>Trailers :</h2>
	<%if @trailers.youtube!=nil%>
		<%@trailers.youtube.each do |movie| %>
			<%@lien="//www.youtube.com/embed/"%>
			<%@lien+=movie.source.to_s%>
			<iframe src=<%=@lien%> width="640" height="385" frameborder="0" allowfullscreen="allowfullscreen"></iframe></br>
		<%end%>
	<%end%>
	<% if not @favorit.include? @movie.id%> 
        <%=form_tag :controller => 'movies', :action => 'add_to_fav' do%>
            <%=hidden_field_tag :movid, @movie.id%>
            <%= button_tag(:type => 'submit', :class => 'btn btn-default') do %>
            <i class="glyphicon glyphicon-heart"></i>
            <% end %>
    	<%end%>

    <%else%>
        <%= button_tag(type: 'button', :class => 'btnbtn btn-form-disabled  btn-success') do %>
        <i class="glyphicon glyphicon-heart"></i>
        <% end %>
    <%end%>
    <% if not @seen.include? @movie.id%> 
        <%=form_tag :controller => 'movies', :action => 'add_to_seen' do%>
            <%=hidden_field_tag :movid, @movie.id%>
            <%= button_tag(:type => 'submit', :class => 'btn btn-default') do %>
            <i class="glyphicon glyphicon-eye-close"></i>
            <% end %>
        <%end%>  
    <%else%>  
        <%= button_tag(type: 'button', :class => 'btn btn btn-form-disabled btn-success') do %>
        <i class="glyphicon glyphicon-eye-open"></i>
        <% end %>
    <%end%>
    <% if not @to_see.include? @movie.id%> 
        <%=form_tag :controller => 'movies', :action => 'add_to_see' do%>
            <%=hidden_field_tag :movid, @movie.id%>
            <%= button_tag(:type => 'submit', :class => 'btn btn-default') do %>
            <i class="glyphicon glyphicon-film"></i>
            <% end %>
        <%end%>  
    <%else%>  
        <%= button_tag(type: 'button', :class => 'btn btn btn-form-disabled btn-success') do %>
        <i class="glyphicon glyphicon-film"></i>
        <% end %>
    <%end%>
<%= link_to 'Back', :back %>
