<h1>
<%=@movie.title%>
</h1>
Date :
<%=Date.parse(@movie.release_date).strftime("%d/%m/%Y")%></br>
<p>
<%=image_tag("#{@configuration.base_url}w154#{@movie.poster_path}")%></br>
<%=@movie.overview%>
</p>
<h2>Trailers :</h2>
<%if @trailers.youtube!=nil%>
	<%@trailers.youtube.each do |table| %>
		<%@lien="//www.youtube.com/embed/"%>
		<%@lien+=table.source.to_s%>
		<iframe src=<%=@lien%> width="640" height="385" frameborder="0" allowfullscreen="allowfullscreen"></iframe></br>
	<%end%>
<%end%>
<%=link_to 'add to my fav list', {controller: 'movies', action:'addToFav', id:@movie.id.to_i }%>
<%= link_to 'Back', :back %>
